@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$white: #f2f2f2;
$black: #000;
$dark: #1f363d;
$teal: #70a9a1;
$yellow: #c2a83e;
$darkPink: #750d37;
$medPink: #ff5e5b;
$lightPink: #b8847e;
$lightGray: #ded3d5;
$lighterGray: #E2E2E2;

$error: $medPink;

$primary: $teal;
$dark-primary: $dark;
$secondary: $yellow;
$dark-tertiary: $darkPink;
$tertiary: $medPink;
$light-tertiary: $lightPink;
$bg: $white;
$text: $black;

$colors: (
    'primary': $primary,
    'dark-primary': $dark-primary,
    'secondary': $secondary,
    'dark-tertiary': $dark-tertiary,
    'tertiary': $tertiary,
    'light-gray': $lightGray,
    'lighter-gray': $lighterGray,
    'white': $white,
    'dark': $dark,
    'text': $text);

@each $color-name,
$color in $colors {
    .bg-#{$color-name} {
        background: $color;
    }
}

@each $color-name,
$color in $colors {
    .text-#{$color-name} {
        color: $color;
    }
}

// spacing
$zero: 0;
$smallestSpacer: 0.3rem;
$smallSpacer: 0.75rem;
$bigSpacer: 1rem;
$biggerSpacer: 2rem;
$biggestSpacer: 3rem;

$margin-padding: ('margin': 'm', 'padding': 'p');
$spacers: ($zero: $zero, $smallestSpacer: '1', $smallSpacer: '2', $bigSpacer: '3', $biggerSpacer: '4', $biggestSpacer: '5');
$sides: ('': '', '-top': 't', '-bottom': 'b', '-right': 'r', '-left': 'l');

$border-radius: 8px;

$font-body: 'Open Sans', Helvetica, Arial, sans-serif;
$font-heading: 'Averia Serif Libre', Garamond, serif;
$font-sizes: (3, 2.5, 2, 1.5, 1);

$box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

$transition: all 0.3s ease-in;

body {
    background: $white;
    font-family: $font-body;
    color: $text;
}

html,
body {
    min-height: 100%;
}

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}